

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: white;
}
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}
/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}



.wrapper {
  text-align: left;
  max-width: 90%;
  margin: 4rem auto auto;
  background-color: coral;

  padding:10px;
  border:1px solid gray;

}
.mysection {
  text-align: left;
  max-width: 90%;
  margin: 4rem auto auto;
  background-color: bisque;

  padding:10px;
  border:1px solid gray;

}
p.ex2
{
	font:italic bold 12px/30px Georgia,serif;
}
p.desc
{
  background-color: lightyellow;
  margin: 1em;
}
