.SideContainer{
  display:flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: stretch;
  flex: 1 1 auto;
  background-color: #181a83;
}
.login{
  align-self: center;

}

article {
  margin: 0px;

  padding: 0px;

  background-color: #2F3452;
 
}


.wrapper {
  flex-grow: 1;
  align-self: stretch;
  background-color:#2F3452;
  padding:0px;
  border:0px solid gray;

}
.mysection {
  text-align: left;
  max-width: 90%;
  margin-left: 20px;
  margin-top: 20px;
  background-color: rgb(39, 48, 88);
  padding:20px;
  color:#fff;
}
.status{
  flex: 0 0 80px;
  background-color:#2F3452;
  border:2px solid  #181a83;
}
.all{
  display:flex;
  flex-flow: column;
  height: 100%;
  background-color:#2F3452;
}
.topmenu {
  flex: 0 1 auto;
  display: flex;

  margin: 0;
  background-color: #2F3452;
  padding-left: 8px;
}
.topmenu li {
  flex: 0 1 auto;
  padding: 0px 10px;
}

.topmenu li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.topmenu li a:hover {
  background-color: #1E2336;
  color: #eee;
}
.topmenu li a.active {
  color: #eee;
  background-color: #1E2336;
}
.sidemenu {
  display: flex;
  flex-direction: column;


  width: 350px;

  background: #2F3452;
  padding: 4px;
  padding-top: 0px;

}
.sidemenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidemenu li  {
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 4px;
  background-color:#262E43;
  text-decoration: none;
  color: #666;
}
.sidemenu li a {
  display: inline-block;
  color: #fff;
  padding:10px 15px;
  width:100%;
  text-decoration: none;
}
.sidemenu li:hover {
  background-color: #3F4E7C;
  color: white;
}
.sidemenu li a.active  {
  background-color: #3F4E7C;
  color: white;
}

.table tr:hover {
  background-color: #3F4E7C;
  color: white;
}
.table tr.active  {
  background-color: #3F4E7C;
  color: white;
}


p.ex2
{
	font:italic bold 12px/30px Georgia,serif;
}
p.desc
{
  margin: 1em;
}
label{
  color:#fff!important;
  display: block;
  padding-bottom:8px;
}
label::before{
  margin-top: 1px;
}
input{
  border: 1px solid #BBB;
  padding: 8px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #242945;
  color:#fff;
  border-radius: 3px;
  padding-left:5px;
  width:310px;
  display: block;
  font-size: 12px;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s */
}
/* input:focus{
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
} */
button{
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 20px;
  border:none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #3F4E7C;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #00adee, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#00678e');
}
.logo{
  width:40px;
  height:40px;
  background: url("./plogo.png");
  background-size: cover;
  display: inline-block;
  margin-top: 8px;
}
.logoText{
  display: inline-block;
  color:#fff;
  font-size: 18px;
  position: relative;
  top:-13px;
  padding-left: 10px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.box{
  background: #17c4bb;
  padding:20px;
  margin-left: 20px;
  margin-top: 20px;
}
.fetching{
  position: relative;
  top: -30px;
}
.cell{
  padding:3px!important;
}
.btn{
  padding:4px!important;
}