.App {
  text-align: center;
  margin: 2rem;
  border: 1rem;
 
}

.wrapper {
  text-align: left;
  max-width: 580px;
  margin: 4rem auto auto;
  background-color: coral;

  padding:10px;
  border:1px solid gray;

}
.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
  background-color: bisque;

  padding:10px;
  border:1px solid gray;

}
p.ex2
{
	font:italic bold 12px/30px Georgia,serif;
}
p.desc
{
  background-color: lightyellow;
  margin: 1em;
}
